@import url('https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap');
.copyright-text {
  font-family: "Playwrite NO", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}